h1{
  color: #0000ff;
  text-align: center;
  font-style: italic;
  font-family: sans-serif;
}
body{
  background-image: url(' ../images/crow.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
