h1,h2{
  color:#0000ff;
  text-align: center;
  font-style: italic;
  font-family: sans-serif;
}
body{
  background-image: url(' ../images/crow.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
img{
  float:right;
}
ol,ul{
  color:white;
}
h5,p{
  color: white;
}
h3,h4,h5,h6{
  font-family: sans-serif;
}
